* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Media Query*/




/* Media Query End*/
/* Typography */
.ch-1{
    font-size: 4em;
}
.ch-2{
    font-size: 3.5em;
}
.ch-3{
    font-size: 3em;
}
.ch-4{
    font-size: 2.5em;
}
.ch-5{
    font-size: 2em;
}
.ch-6{
    font-size: 1.5em;
    color: black;
}
.ch-7{
    font-size: 1em;
    color: black;
}
.ch-8{
    font-size: 0.8em;
    color: black;
}
.ch-9{
    font-size: 0.7em;
    color: black;
}
.ch-10{
    font-size: 0.6em;
}


.fb-l{
    font-weight: 550;
}
.fb-b{
    font-weight: 600;
}
.fb-bb{
    font-weight: 700;
}
.fb-bbb{
    font-weight: 750;
}
.fb-bbb-b{
    font-weight: 800;
}
.fb-bbb-bb{
    font-weight: 900;
}
/* Typography End*/

/* Custom Parts */
.img-fit{
    object-fit: cover;
}
.opa-black{
    background-color: rgba(0,0,0,0.3);
}
.rounded-10{
    border-radius: 10px;
}
.rounded-15{
    border-radius: 15px;
}
/* Custom Parts End */
/* Theme Color */
.bg-color-1
{
    background-color: #F6F6F6;
    color: #000000;
}
.bg-color-2
{
    background-color: #ffc50b;
    color: #060606;
}
.bg-color-3
{
    background-color: #F2AE30;
    color: #000000;
}
.bg-color-4
{
    background-color: #FFFFFF;
    color: #0F223C;
}
.bg-color-5
{
    background-color: #B92025;
    color: #ffffff;
}
.bg-color-6
{
    background-color: grey;
    color: #ffffff;
}
.bg-color-7
{
    background-color: #F0F0F0;
    color: #ffffff;
}
.txt-color-1{
    color: #B69999;
}
.txt-color-2{
    color: #B92025;
}

/* Theme Color End */


/* Custom Button */
.cus-btn-1{
    color: #060606;
    border: none;
    background-color:#F2C12E ;
}
.cus-btn-1:hover{
    color: #FFFFFF;
    background-color:#926719 ;
}
.cus-btn-1:focus{
    border: none;
    box-shadow: 0px 10px 43px 12px rgba(146,103,25,0.88);
    color: #FFFFFF;
    background-color:#926719 ;
}

.cus-btn-2{
    color: #ffffff;
    border: none;
    background-color:#EA4E1B ;
}
.cus-btn-2:hover{
    color: #ffffff;
    background-color:rgba(234, 78, 27, 0.9);
}
.cus-btn-2:focus{
    border: none;
    box-shadow: 0px 10px 43px 12px rgba(234, 78, 27, 0.9);
    color: #ffffff;
    background-color:rgba(234, 78, 27, 0.9);
}

.cus-btn-3{
    color: #EA4E1B;
    border: none;
    background-color:#ffffff ;
}
.cus-btn-3:hover{
    color: #EA4E1B;
    background-color: rgba(255, 255, 255, 0.79);
}
.cus-btn-3:focus{
    border: none;
    color: #EA4E1B;
    background-color: rgba(255, 255, 255, 0.79);
}


.cus-btn-4{
    color: #ffffff;
    border: none;
    background-color:#B92025 ;
}
.cus-btn-4:hover{
    color: #ffffff;
    background-color:#B92025;
}
.cus-btn-4:focus{
    border: none;
    color: #ffffff;
    background-color:#B92025;
}

/* Custom Button End */

/* Custom Search bars Start*/
.cus-search-box-1 .input-group{
    background-color: #FFFDFD;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}
.cus-search-box-1 .input-group-text{
    border: 0px;
    background-color: #FFFDFD;
    color: #B2B2B2;
}
.cus-search-box-1 input.form-control{
    border: 0px;
    background-color: #FFFDFD;
    color: #B2B2B2;
}
.cus-search-box-1 input.form-control:focus{
    box-shadow: none;
}


/* Custom Search bars End*/

/* Footer Menu Bar Start*/
.menu-bar{
    border-top: 2px solid #DCD6D6;
    border-radius: 20px;
}
.menu-bar ul li a{
    padding: 10px;
    color: #C99292;
}
.menu-bar ul .nav-item .active{
    color: #000000;
    background-color: #ffffff;
}
/* Footer Menu Bar End*/
/* Slider Start*/
.property-slider .slick-slide{
    margin: 10px;
}
.handyman-slider .slick-slide{
    margin: 10px;
}
.agent-slider .slick-slide{
    margin: 10px;
}
/* Slider End*/

/* Social Icons Start*/
/* 1 Panel Start*/
.fab {
    padding-top: 8px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 4px 1px;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
    color: black;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #3f729b;
    color: white;
}
/* 1 Panel End*/


/* Social Icons End*/
/* Menu Bar Start*/
.menu-bar-header ul li{
    background-color: #FFC50B;
}
.menu-bar-header ul li a{
    color: black;
    font-size: 1em;

}
.menu-bar-header ul li a:focus{
    color: black;
}
.menu-bar-header ul li a:hover{
    color: #ffffff;
}
.menu-bar-header ul li .active{
    background-color: #fdbf00;
    color: #ffffff;
}
/* Menu Bar End*/
/* Hero Pages Start*/
.screen-1{
    background: url('../img/screen-1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}
/* Hero Pages End*/
/* Login Form Start*/
.login-form .input-group{
    border: 1px solid #CB5429;
    padding: 10px;
    border-radius: 10px;
}
.login-form input:focus{
    box-shadow: none;
}
.login-form ::placeholder{
    color: #CB5429;
    font-weight: 500;
}
.login-form .form-control{
    background: transparent;
    border: 0px;
    color: #CB5429;

}
.login-form .input-group span{
    background: transparent;
    border: 0px;
    color: #CB5429;
    font-size: 1.3em;

}
.login-form .form-check .form-check-input{
    border: 1px solid #CB5429;

}
.login-form .form-check .form-check-input:checked{
    background-color: #CB5429;


}

/* Login Form End*/
/* Form Custom Start*/
.form-cus-1 label{
    font-size: 1em;
    font-weight: 800;
}
.form-cus-1 .form-control{
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10px;
}
.form-cus-1 span{
    font-size: 0.9em;
}
/* Form Custom End*/

.walk-dots{
    height: 10px;
    width: 10px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin: 6px;
}
.walk-dots.active{
    background-color: #EA4E1B;
}
/* Upload image box start*/
.upload-image-box{
    border: 1px dashed #959595;
}
/* Upload image box end*/
.svg-icon-color svg path{
    fill: #B92025;
}
.svg-icon-color:hover > svg path{
    fill: #ffffff;
    font-size: 2em;
}

/* Custom Bullets Start*/
.bullets li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #B92025; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
}
.bullets li{
    list-style: none;
}
/* Custom Bullets End*/
.fb9 {
    border: 1px solid #3366ff;
    background-color: #b3c6ff;
    width: 150px;
    height: 30px;
}